fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
numpy==1.26.4
whisper==1.1.10
soundfile==0.12.1
requests==2.31.0
python-dotenv==1.0.1
assemblyai==0.17.0
keybert==0.7.0
sentence-transformers==2.5.1
torch>=2.0.0
transformers==4.37.2
pymongo==4.6.1
